<div class="row">
	<h1>
		TestDemo
	</h1>
</div>
<div class="row">
    <div class="col-md-6"> 
    	<span>
    		abc
    	</span>
    </div>
     <div class="col-md-6"> 
     	<span>
     		def
     	</span>
    </div>
</div>