<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    
 
</head>
<body>
<div class="header">
	<div class="container">
		
		<div class="top-nav">

				
				<nav class="navbar navbar-inverse">
				  <div class="container-fluid">
				  	  
				    <div class="navbar-header" style="float: right">
				    	 <a class="navbar-brand" href="#" style="float:left">Demo Web</a>
				      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>                        
				      </button>
				     
				    </div>

				    <div class="collapse navbar-collapse" id="myNavbar" style="float: right">

				      <ul class="nav navbar-nav">
				        
				        <li class="dropdown">
				          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="#">Page 1-1</a></li>
				            <li><a href="#">Page 1-2</a></li>
				            <li><a href="#">Page 1-3</a></li>
				          </ul>
				        </li>
				        <li><a href="#">Page 2</a></li>
				        <li><a href="#">Page 3</a></li>
				      </ul>
				      <ul class="nav navbar-nav navbar-right">
				        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				      </ul>
				    </div>
				  </div>
				</nav>
		</div>
	</div>
</div>
<div class="body" style="margin-left:5rem;margin-right:5rem">
	<div class="row">
	    <div class="col-md-6"> 
	    	<span>
	    		abc
	    	</span>
	    </div>
	     <div class="col-md-6"> 
	     	<span>
	     		def
	     	</span>
	    </div>
	</div>
</div>
<body>